<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dryseed.dryseedapp">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".volley.TestVolleyActivity"
            android:label="Volley">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.dryseed.dryseedapp.TEST" />
            </intent-filter>
        </activity>

        <activity
            android:name=".fastjson.TestFastJsonActivity"
            android:label="FastJson">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.dryseed.dryseedapp.TEST" />
            </intent-filter>
        </activity>

        <activity
            android:name=".leakcanary.TestLeakCanaryActivity"
            android:label="LeakCanary">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.dryseed.dryseedapp.TEST" />
            </intent-filter>
        </activity>

        <activity
            android:name=".fresco.TestFrescoActivity"
            android:label="Fresco">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.dryseed.dryseedapp.TEST" />
            </intent-filter>
        </activity>

        <activity
            android:name=".eventbus.TestEventBusActivity"
            android:label="EventBus">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.dryseed.dryseedapp.TEST" />
            </intent-filter>
        </activity>

        <activity
            android:name=".butterknife.TestButterKnifeActivity"
            android:label="ButterKnife">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.dryseed.dryseedapp.TEST" />
            </intent-filter>
        </activity>

        <activity
            android:name=".customView.customView01.TestCustomView01Activity"
            android:label="CustomView/CustomView01">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.dryseed.dryseedapp.TEST" />
            </intent-filter>
        </activity>

        <activity
            android:name=".customView.customView02.TestCustomView02Activity"
            android:label="CustomView/CustomView02">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.dryseed.dryseedapp.TEST" />
            </intent-filter>
        </activity>

        <activity
            android:name=".customView.customView03.TestCustomView03Activity"
            android:label="CustomView/CustomView03(圆环交替 等待效果)">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.dryseed.dryseedapp.TEST" />
            </intent-filter>
        </activity>

        <activity
            android:name=".customView.customView04.TestCustomView04Activity"
            android:label="CustomView/CustomView04(视频音量调控)">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.dryseed.dryseedapp.TEST" />
            </intent-filter>
        </activity>

        <activity
            android:name=".customView.customView05.TestCustomView05Activity"
            android:label="CustomView/CustomView05(圆形圆角控件)">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.dryseed.dryseedapp.TEST" />
            </intent-filter>
        </activity>

        <activity
            android:name=".customView.bounceScrollView.TestBounceScrollViewActivity"
            android:label="CustomView/BounceScrollView 反弹效果 仿小米私密短信效果">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.dryseed.dryseedapp.TEST" />
            </intent-filter>
        </activity>
        <activity
            android:name=".customView.bounceScrollView.BounceScrollViewSecondActivity">
        </activity>

        <activity
            android:name=".customView.gestureLock.TestGestureLockActivity"
            android:label="CustomView/GestureLock 手势锁">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.dryseed.dryseedapp.TEST" />
            </intent-filter>
        </activity>

        <activity
            android:name=".customView.arcMenu.TestArcMenuActivity"
            android:label="CustomView/ArcMenu">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.dryseed.dryseedapp.TEST" />
            </intent-filter>
        </activity>

        <activity
            android:name=".customView.customViewGroup01.TestCustomViewGroup01Activity"
            android:label="CustomView/CustomViewGroup01 自定义ViewGroup">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.dryseed.dryseedapp.TEST" />
            </intent-filter>
        </activity>

        <activity
            android:name=".customView.customViewGroup02.TestCustomViewGroup02Activity"
            android:label="CustomView/CustomViewGroup02 FlowLayout">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.dryseed.dryseedapp.TEST" />
            </intent-filter>
        </activity>

        <activity
            android:name=".animation.basicPropertyAnimation.ObjectAnimatorActivity"
            android:label="Animation/PropertyAnimation/ObjectAnimator">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.dryseed.dryseedapp.TEST" />
            </intent-filter>
        </activity>
        <activity
            android:name=".animation.basicPropertyAnimation.ValueAnimatorActivity"
            android:label="Animation/PropertyAnimation/ValueAnimator">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.dryseed.dryseedapp.TEST" />
            </intent-filter>
        </activity>
        <activity
            android:name=".animation.basicPropertyAnimation.AnimatorSetActivity"
            android:label="Animation/PropertyAnimation/AnimatorSet">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.dryseed.dryseedapp.TEST" />
            </intent-filter>
        </activity>
        <activity
            android:name=".animation.basicPropertyAnimation.Xml4AnimActivity"
            android:label="Animation/PropertyAnimation/XML4Anim">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.dryseed.dryseedapp.TEST" />
            </intent-filter>
        </activity>
        <activity
            android:name=".animation.basicPropertyAnimation.LayoutAnimatorActivity"
            android:label="Animation/PropertyAnimation/LayoutAnimator">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.dryseed.dryseedapp.TEST" />
            </intent-filter>
        </activity>
        <activity
            android:name=".animation.basicPropertyAnimation.ViewAnimatorActivity"
            android:label="Animation/PropertyAnimation/ViewAnimator">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.dryseed.dryseedapp.TEST" />
            </intent-filter>
        </activity>

        <activity
            android:name=".widget.slideMenu.SlideMenu01.SlideMenu01Activity"
            android:label="Widget/SlideMenu/01.自定义侧滑控件">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.dryseed.dryseedapp.TEST" />
            </intent-filter>
        </activity>
        <activity
            android:name=".widget.slideMenu.SlideMenu02.SlideMenu02Activity"
            android:label="Widget/SlideMenu/02.自定义侧滑控件(框架)">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.dryseed.dryseedapp.TEST" />
            </intent-filter>
        </activity>
        <activity
            android:name=".widget.slideMenu.SlideMenu03.SlideMenu03Activity"
            android:label="Widget/SlideMenu/03.自定义侧滑控件(HorizontalScrollView)">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.dryseed.dryseedapp.TEST" />
            </intent-filter>
        </activity>
        <activity
            android:name=".widget.slideMenu.SlideMenu04.SlideMenu04Activity"
            android:label="Widget/SlideMenu/04.自定义侧滑控件(HorizontalScrollView Advanced)">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.dryseed.dryseedapp.TEST" />
            </intent-filter>
        </activity>
        <activity
            android:name=".widget.slideMenu.BinarySlideMenu01.BinarySlide01Activity"
            android:label="Widget/SlideMenu/05.BinarySlideMenu01">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.dryseed.dryseedapp.TEST" />
            </intent-filter>
        </activity>
        <activity
            android:name=".widget.slideMenu.BinarySlideMenu02.BinarySlide02Activity"
            android:label="Widget/SlideMenu/06.BinarySlideMenu02 抽屉式 ">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.dryseed.dryseedapp.TEST" />
            </intent-filter>
        </activity>
        <activity
            android:name=".widget.slideMenu.DrawerLayout.DrawerLayoutActivity"
            android:label="Widget/SlideMenu/07.DrawerLayout ">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.dryseed.dryseedapp.TEST" />
            </intent-filter>
        </activity>
    </application>


</manifest>
