<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dryseed.dryseedapp">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".volley.TestVolleyActivity"
            android:label="Volley">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.dryseed.dryseedapp.TEST" />
            </intent-filter>
        </activity>

        <activity
            android:name=".fastjson.TestFastJsonActivity"
            android:label="FastJson">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.dryseed.dryseedapp.TEST" />
            </intent-filter>
        </activity>

        <activity
            android:name=".leakcanary.TestLeakCanaryActivity"
            android:label="LeakCanary">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.dryseed.dryseedapp.TEST" />
            </intent-filter>
        </activity>

        <activity
            android:name=".fresco.TestFrescoActivity"
            android:label="Fresco">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.dryseed.dryseedapp.TEST" />
            </intent-filter>
        </activity>

        <activity
            android:name=".eventbus.TestEventBusActivity"
            android:label="EventBus">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.dryseed.dryseedapp.TEST" />
            </intent-filter>
        </activity>

        <activity
            android:name=".butterknife.TestButterKnifeActivity"
            android:label="ButterKnife">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.dryseed.dryseedapp.TEST" />
            </intent-filter>
        </activity>

        <activity
            android:name=".customView.customView01.TestCustomView01Activity"
            android:label="CustomView/CustomView01">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.dryseed.dryseedapp.TEST" />
            </intent-filter>
        </activity>

        <activity
            android:name=".customView.customView02.TestCustomView02Activity"
            android:label="CustomView/CustomView02">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.dryseed.dryseedapp.TEST" />
            </intent-filter>
        </activity>

        <activity
            android:name=".customView.customView03.TestCustomView03Activity"
            android:label="CustomView/CustomView03(圆环交替 等待效果)">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.dryseed.dryseedapp.TEST" />
            </intent-filter>
        </activity>

        <activity
            android:name=".customView.customView04.TestCustomView04Activity"
            android:label="CustomView/CustomView04(视频音量调控)">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.dryseed.dryseedapp.TEST" />
            </intent-filter>
        </activity>

        <activity
            android:name=".customView.customView05.TestCustomView05Activity"
            android:label="CustomView/CustomView05(圆形圆角控件)">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.dryseed.dryseedapp.TEST" />
            </intent-filter>
        </activity>

        <activity
            android:name=".customView.comboClickTextView.TestComboClickTextViewActivity"
            android:label="CustomView/ComboClickTextView">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.dryseed.dryseedapp.TEST" />
            </intent-filter>
        </activity>

        <activity
            android:name=".dispatchEvent.DispatchEventDemoActivity1"
            android:label="DispatchEvent/DispatchEventDemo 外部拦截法">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.dryseed.dryseedapp.TEST" />
            </intent-filter>
        </activity>
        <activity
            android:name=".dispatchEvent.DispatchEventDemoActivity2"
            android:label="DispatchEvent/DispatchEventDemo 内部拦截法">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.dryseed.dryseedapp.TEST" />
            </intent-filter>
        </activity>
        <activity
            android:name=".dispatchEvent.testDemo.DispatchEventDemoActivity3"
            android:label="DispatchEvent/DispatchEventDemo 事件传递">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.dryseed.dryseedapp.TEST" />
            </intent-filter>
        </activity>


        <activity
            android:name=".customView.bounceScrollView.TestBounceScrollViewActivity"
            android:label="CustomView/BounceScrollView 反弹效果 仿小米私密短信效果">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.dryseed.dryseedapp.TEST" />
            </intent-filter>
        </activity>
        <activity android:name=".customView.bounceScrollView.BounceScrollViewSecondActivity"></activity>

        <activity
            android:name=".customView.gestureLock.TestGestureLockActivity"
            android:label="CustomView/GestureLock 手势锁">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.dryseed.dryseedapp.TEST" />
            </intent-filter>
        </activity>

        <activity
            android:name=".customView.arcMenu.TestArcMenuActivity"
            android:label="CustomView/ArcMenu">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.dryseed.dryseedapp.TEST" />
            </intent-filter>
        </activity>

        <activity
            android:name=".customView.customViewGroup01.TestCustomViewGroup01Activity"
            android:label="CustomView/CustomViewGroup01 自定义ViewGroup">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.dryseed.dryseedapp.TEST" />
            </intent-filter>
        </activity>

        <activity
            android:name=".customView.customViewGroup02.TestCustomViewGroup02Activity"
            android:label="CustomView/CustomViewGroup02 FlowLayout">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.dryseed.dryseedapp.TEST" />
            </intent-filter>
        </activity>

        <activity
            android:name=".animation.basicPropertyAnimation.ObjectAnimatorActivity"
            android:label="Animation/PropertyAnimation/ObjectAnimator">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.dryseed.dryseedapp.TEST" />
            </intent-filter>
        </activity>
        <activity
            android:name=".animation.basicPropertyAnimation.ValueAnimatorActivity"
            android:label="Animation/PropertyAnimation/ValueAnimator">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.dryseed.dryseedapp.TEST" />
            </intent-filter>
        </activity>
        <activity
            android:name=".animation.basicPropertyAnimation.AnimatorSetActivity"
            android:label="Animation/PropertyAnimation/AnimatorSet">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.dryseed.dryseedapp.TEST" />
            </intent-filter>
        </activity>
        <activity
            android:name=".animation.basicPropertyAnimation.Xml4AnimActivity"
            android:label="Animation/PropertyAnimation/XML4Anim">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.dryseed.dryseedapp.TEST" />
            </intent-filter>
        </activity>
        <activity
            android:name=".animation.basicPropertyAnimation.LayoutAnimatorActivity"
            android:label="Animation/PropertyAnimation/LayoutAnimator">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.dryseed.dryseedapp.TEST" />
            </intent-filter>
        </activity>
        <activity
            android:name=".animation.basicPropertyAnimation.ViewAnimatorActivity"
            android:label="Animation/PropertyAnimation/ViewAnimator">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.dryseed.dryseedapp.TEST" />
            </intent-filter>
        </activity>

        <activity
            android:name=".animation.mojiWeatherAnimation.TestMojiWeatherValueAnimationActivity"
            android:label="Animation/PropertyAnimation/MojiWeatherValueAnimationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.dryseed.dryseedapp.TEST" />
            </intent-filter>
        </activity>
        <activity
            android:name=".animation.mojiWeatherAnimation.TestMojiWeatherPropertyAnimationActivity"
            android:label="Animation/PropertyAnimation/MojiWeatherPropertyAnimationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.dryseed.dryseedapp.TEST" />
            </intent-filter>
        </activity>
        <activity
            android:name=".animation.transitionAnimator.TestTransitionAnimatorActivity"
            android:label="Animation/TransitionAnimator/TestTransitionAnimatorActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.dryseed.dryseedapp.TEST" />
            </intent-filter>
        </activity>
        <activity android:name=".animation.transitionAnimator.MessageActivity"></activity>

        <activity
            android:name=".widget.slideMenu.slideMenu01.SlideMenu01Activity"
            android:label="Widget/SlideMenu/01.自定义侧滑控件">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.dryseed.dryseedapp.TEST" />
            </intent-filter>
        </activity>
        <activity
            android:name=".widget.slideMenu.SlideMenu02.SlideMenu02Activity"
            android:label="Widget/SlideMenu/02.自定义侧滑控件(框架)">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.dryseed.dryseedapp.TEST" />
            </intent-filter>
        </activity>
        <activity
            android:name=".widget.slideMenu.SlideMenu03.SlideMenu03Activity"
            android:label="Widget/SlideMenu/03.自定义侧滑控件(HorizontalScrollView)">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.dryseed.dryseedapp.TEST" />
            </intent-filter>
        </activity>
        <activity
            android:name=".widget.slideMenu.SlideMenu04.SlideMenu04Activity"
            android:label="Widget/SlideMenu/04.自定义侧滑控件(HorizontalScrollView Advanced)">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.dryseed.dryseedapp.TEST" />
            </intent-filter>
        </activity>
        <activity
            android:name=".widget.slideMenu.BinarySlideMenu01.BinarySlide01Activity"
            android:label="Widget/SlideMenu/05.BinarySlideMenu01">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.dryseed.dryseedapp.TEST" />
            </intent-filter>
        </activity>
        <activity
            android:name=".widget.slideMenu.BinarySlideMenu02.BinarySlide02Activity"
            android:label="Widget/SlideMenu/06.BinarySlideMenu02 抽屉式 ">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.dryseed.dryseedapp.TEST" />
            </intent-filter>
        </activity>
        <activity
            android:name=".widget.slideMenu.DrawerLayout.DrawerLayoutActivity"
            android:label="Widget/SlideMenu/07.DrawerLayout ">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.dryseed.dryseedapp.TEST" />
            </intent-filter>
        </activity>

        <activity
            android:name=".widget.zoomImage.ZoomImageActivity"
            android:label="Widget/ZoomImageView">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.dryseed.dryseedapp.TEST" />
            </intent-filter>
        </activity>

        <activity
            android:name=".widget.viewFlipper.TestViewFlipperActivity"
            android:label="Widget/ViewFlipper">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.dryseed.dryseedapp.TEST" />
            </intent-filter>
        </activity>

        <activity
            android:name=".widget.clipZoomImage.ClipZoomImageActivity"
            android:label="Widget/ClipZoomImageView">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.dryseed.dryseedapp.TEST" />
            </intent-filter>
        </activity>
        <activity android:name=".widget.clipZoomImage.ShowImageActivity"></activity>
        <activity
            android:name=".widget.viewPager.viewpagerTransformer.ViewPagerTransformerActivity"
            android:label="Widget/viewPager/ViewPagerTransformerActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.dryseed.dryseedapp.TEST" />
            </intent-filter>
        </activity>
        <activity
            android:name=".widget.viewPager.pagerSlidingTabStrip.TestPagerSlidingTabStripActivity"
            android:label="Widget/viewPager/PagerSlidingTabStrip">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.dryseed.dryseedapp.TEST" />
            </intent-filter>
        </activity>
        <activity
            android:name=".widget.viewPager.customizedPagerSlidingTabStrip.TestCustomizedPagerSlidingTabStripActivity"
            android:label="Widget/viewPager/CustomizedPagerSlidingTabStrip">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.dryseed.dryseedapp.TEST" />
            </intent-filter>
        </activity>
        <activity
            android:name=".widget.viewPager.tabLayout.TestTabLayoutActivity"
            android:label="Widget/viewPager/TabLayout">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.dryseed.dryseedapp.TEST" />
            </intent-filter>
        </activity>
        <activity
            android:name=".widget.graphicDetailsLayout.layout.MainActivity"
            android:label="Widget/GraphicDetailsLayout 模仿淘宝商品详情拖动查看图文详情效果">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.dryseed.dryseedapp.TEST" />
            </intent-filter>
        </activity>

        <activity
            android:name=".widget.nestedScrolling.myNestScroll.MyNestedScrollActivity"
            android:label="Widget/NestedScrolling/MyNestedScrolling">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.dryseed.dryseedapp.TEST" />
            </intent-filter>
        </activity>
        <activity
            android:name=".widget.nestedScrolling.recyclerviewNestScroll.RecyclerViewNestScrollActivity"
            android:label="Widget/NestedScrolling/RecyclerView NestedScrolling">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.dryseed.dryseedapp.TEST" />
            </intent-filter>
        </activity>
        <activity
            android:name=".widget.recyclerView.TestRecyclerViewActivity"
            android:label="Widget/RecyclerView/TestRecyclerViewActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.dryseed.dryseedapp.TEST" />
            </intent-filter>
        </activity>
        <activity
            android:name=".widget.recyclerView.itemDecoration.TestItemDecorationActivity"
            android:label="Widget/RecyclerView/TestItemDecorationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.dryseed.dryseedapp.TEST" />
            </intent-filter>
        </activity>

        <activity
            android:name=".customView.foldingLayout.sample.TestFoldingLayoutActivity"
            android:label="CustomView/FoldingLayoutActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.dryseed.dryseedapp.TEST" />
            </intent-filter>
        </activity>
        <activity android:name=".customView.foldingLayout.sample.MatrixPolyToPolyActivity"></activity>
        <activity android:name=".customView.foldingLayout.sample.MatrixPolyToPolyWithShadowActivity"></activity>
        <activity android:name=".customView.foldingLayout.sample.SimpleUseActivity"></activity>
        <activity android:name=".customView.foldingLayout.sample.FoldLayoutActivity"></activity>
        <activity android:name=".customView.foldingLayout.sample.DrawerLayoutSampleActivity"></activity>
        <activity android:name=".customView.foldingLayout.sample.SlidingPanelLayoutSampleActivity"></activity>

        <activity
            android:name=".customView.guaguaka.GuaGuaKaActivity"
            android:label="CustomView/GuaGuaKaActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.dryseed.dryseedapp.TEST" />
            </intent-filter>
        </activity>


        <activity
            android:name=".image.TestImageActivity"
            android:label="Image/TestImageActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.dryseed.dryseedapp.TEST" />
            </intent-filter>
        </activity>

        <activity
            android:name=".tab.viewpager.TraditionalViewPagerAcvitity"
            android:label="Tab/TraditionalViewPagerAcvitity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.dryseed.dryseedapp.TEST" />
            </intent-filter>
        </activity>
        <activity
            android:name=".tab.lazyViewPager.LazyViewPagerActivity"
            android:label="Tab/LazyViewPagerActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.dryseed.dryseedapp.TEST" />
            </intent-filter>
        </activity>
        <activity
            android:name=".tab.fragment.FragmentMainActivity"
            android:label="Tab/FragmentMainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.dryseed.dryseedapp.TEST" />
            </intent-filter>
        </activity>
        <activity
            android:name=".tab.viewPagerPlusFragment.ViewPagerFragmentActivity"
            android:label="Tab/ViewPagerFragmentActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.dryseed.dryseedapp.TEST" />
            </intent-filter>
        </activity>
        <activity
            android:name=".tab.lazyViewPagerPlusFragment.TestLazyFragmentPagerAdapterActivity"
            android:label="Tab/LazyViewPagerFragmentActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.dryseed.dryseedapp.TEST" />
            </intent-filter>
        </activity>


        <activity
            android:name=".canvas.canvas.TestCanvasActivity"
            android:label="Canvas/TestCanvasActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.dryseed.dryseedapp.TEST" />
            </intent-filter>
        </activity>
        <activity android:name=".canvas.canvas.CanvasActivity"></activity>

        <activity
            android:name=".canvas.xfermode.XfermodeActivity"
            android:label="Canvas/XfermodeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.dryseed.dryseedapp.TEST" />
            </intent-filter>
        </activity>

        <activity
            android:name=".canvas.bitmapShaderRoundImage.TestBitmapShaderActivity"
            android:label="Canvas/TestBitmapShaderActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.dryseed.dryseedapp.TEST" />
            </intent-filter>
        </activity>
        <activity
            android:name=".canvas.bitmapShaderTitanic.TestBitmapShaderTitanicActivity"
            android:label="Canvas/TestBitmapShaderTitanicActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.dryseed.dryseedapp.TEST" />
            </intent-filter>
        </activity>
        <activity
            android:name=".canvas.pathMeasure.AlipayConfirmViewActivity"
            android:label="Canvas/AlipayConfirmViewActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.dryseed.dryseedapp.TEST" />
            </intent-filter>
        </activity>

        <activity
            android:name=".frameStructure.mvp.UserLoginActivity"
            android:label="FrameStructure/Mvp/UserLoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.dryseed.dryseedapp.TEST" />
            </intent-filter>
        </activity>

        <activity
            android:name=".tools.sensor.shake.ShakeSensorActivity"
            android:label="Tool/Sensor/ShakeSensorActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.dryseed.dryseedapp.TEST" />
            </intent-filter>
        </activity>
        <activity
            android:name=".tools.sensor.orientation.OrientationSensorActivity"
            android:label="Tool/Sensor/OrientationSensorActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.dryseed.dryseedapp.TEST" />
            </intent-filter>
        </activity>

        <activity
            android:name=".lib.zxing.client.android.CaptureActivity"
            android:label="CaptureActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.dryseed.dryseedapp.TEST" />
            </intent-filter>
        </activity>

        <activity
            android:name=".test.singleTask.TestAActivity"
            android:label="Test/SingleTask"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.dryseed.dryseedapp.TEST" />
            </intent-filter>
        </activity>
        <activity android:name=".test.singleTask.TestBActivity" />

        <activity
            android:name=".test.parcelable.TestParcelableAActivity"
            android:label="Test/Parcelable">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.dryseed.dryseedapp.TEST" />
            </intent-filter>
        </activity>
        <activity android:name=".test.parcelable.TestParcelableBActivity" />

        <activity
            android:name=".test.viewTreeObserver.TestViewTreeObserverActivity"
            android:label="Test/ViewTreeObserver">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.dryseed.dryseedapp.TEST" />
            </intent-filter>
        </activity>

        <activity
            android:name=".test.transition.TestTransitionActivity"
            android:label="Test/Transition">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.dryseed.dryseedapp.TEST" />
            </intent-filter>
        </activity>
        <activity android:name=".test.transition.DetailActivity" />

        <activity
            android:name=".test.webView.TestWebViewActivity"
            android:label="Test/WebView">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.dryseed.dryseedapp.TEST" />
            </intent-filter>
        </activity>

        <activity
            android:name=".service.intentService.IntentServiceActivity"
            android:label="Service/IntentService">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.dryseed.dryseedapp.TEST" />
            </intent-filter>
        </activity>
        <service
            android:name=".service.intentService.UploadImgService"
            android:exported="false">
        </service>
    </application>


</manifest>
