<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.dryseed.aaccomponent">

    <application
        android:name="com.dryseed.aaccomponent.runalone.application.AacApplication"
        android:allowBackup="true"
        android:label="aac"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:label">
        <activity android:name=".runalone.TestAacActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".AacMainActivity" />
        <activity android:name=".lifecycle.LifeCycleActivity" />
        <activity android:name=".lifecycle.LifeCycleOwnerActivity" />
        <activity android:name=".livedata.demo0.LiveDataActivity" />
        <activity android:name=".livedata.demo1.LiveDataActivity" />
        <activity android:name=".livedata.demo2.LiveData2Activity" />
        <activity android:name=".demo.ui.MainActivity" />
        <activity android:name=".navigation.TestNavigationActivity" />
        <activity android:name=".paging.TestPagingActivity" />
    </application>

</manifest>